# Python
__pycache__/
*.py[cod]

# 虚拟环境 / Virtual Environment
.venv/
venv/

# IDE 配置 & 系统文件 / IDE Config & System File
.idea/
.vscode/
.DS_Store
Thumbs.db

# 临时产物 / Temp Product
workspace/*

# 用户文件 / User Files
scenes/*
!scenes/Default.json
config.json
